<section id="trending">
    <div class="row">
        <div class="col-12">
            <h3 class="trending-head">Trending Now</h3>
        </div>

        <% trending.forEach(e=>{ %>
            <div class="col-lg-4 col-md-6 trending-div">
                <div class="card" style="width: 18rem;">
                    <img src=<%=`imgs/${e.url}.png`%>
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=e.title%>
                        </h5>
                        <h5 class="price">
                            <%=e.price%>
                        </h5>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</section>